#movie-poster img{
	border: 1px solid #7e7f83;				
}

#movie-description {
	width: 100%;
	min-height: 179px;
	background-color: white;
	margin: 1px 0;
	padding: 10px 25px;
	color: #161c20;
	border-top: 1px solid #65727c;
}

#movie-details span {
	margin-left: 15px;
}

#movie-plot span {
	margin-left: 15px;	
}