<link rel="stylesheet" type="text/css" href="./css/contact.css"/>
<div data-role="header" class="bar">Get In Touch</div>
<div data-role="content" class="style no-padding">
	<div class="logo">
		<h1>Choose your medium...</h1>
	</div>
	<div class="spacer"></div>
	
	<div class="padding">
		 <ul data-role="listview">
			<li><a href="#">Phone</a></li>
			<li><a href="mailto:info@waterfordfilmforall.com">Email</a></li>
			<li><a href="https://twitter.com/wffacommittee">Twitter</a></li>
			<li><a href="http://www.facebook.com/waterfordfilmforall">Facebook</a></li>
			<li><a href="http://www.waterfordfilmforall.com/">Waterford Film for All Website</a></li>
		</ul>
	</div>
</div>
