<link rel="stylesheet" type="text/css" href="./css/contact.css"/>
<div data-role="header" class="bar">Get In Touch</div>
<div data-role="content" class="style no-padding">
	<div class="logo">
		<h1>Choose your medium...</h1>
	</div>
	<div class="spacer"></div>
	
	<div class="padding">
		<div>
			<p>You can book tickets by phone or by email below. Feel free to connect with us using Facebook or Twitter, or you can visit our dedicated website.</p>
		</div>
		<div>
			<a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right">Phone</a>
		</div>
		<div>
			<a href="mailto:info@waterfordfilmforall.com" data-role="button" data-icon="arrow-r" data-iconpos="right">Email</a>
		</div>
		<div>
			<a href="https://twitter.com/wffacommittee" data-role="button" data-icon="arrow-r" data-iconpos="right">Twitter</a>
		</div>

		<div>
			<a href="http://www.facebook.com/waterfordfilmforall" data-role="button" data-icon="arrow-r" data-iconpos="right">Facebook</a>
		</div>
		<div>
			<a href="http://www.waterfordfilmforall.com/" data-role="button" data-icon="arrow-r" data-iconpos="right">WFFA Website</a>
		</div>
	</div>
</div>
