<link rel="stylesheet" type="text/css" href="./css/home.css"/>
<div data-role="header" class="bar">Waterford Film for All</div>
<div data-role="content" class="style no-padding">
	<div class="logo">
		<img src="images/logo_wffa5.png" />
	</div>
	<div class="padding">
		<div id="description">
			<p>Waterford Film For All (WFFA) is a not-for-profit film society whose chief aim is is to broaden the range of films available to cinema-goers in Waterford (Ireland) and its environs.</p>
		</div>
		<div>
			<a href="#showing" data-role="button" data-icon="arrow-r" data-iconpos="right">Now Showing</a>
		</div>
		<div>
			<a href="#twitter" data-role="button" data-icon="arrow-r" data-iconpos="right">Recent Tweets</a>
		</div>

		<div>
			<a href="#map" data-role="button" data-icon="arrow-r" data-iconpos="right">Our Location</a>
		</div>
		<div>
			<a href="#contact" data-role="button" data-icon="arrow-r" data-iconpos="right">Contact Us</a>
		</div>
		
	</div>
			<div class="spacer"></div>

</div>



