<link rel="stylesheet" type="text/css" href="./css/profile.css"/>
<div data-role="header" class="bar">Prometheus</div>
<div data-role="content" class="style">
	<div class="ui-grid-a">
		<div class="ui-block-a" id="movie-poster">
			<img src="images/prometheus.jpg" />
		</div>
		<div class="ui-block-b">
			<strong>Director: </strong><br /><div id="director">Ridley Scott</div>
			<strong>Genre: </strong><br /><div id="genre">Horror | Sci-Fi</div>
			<strong>Details: </strong><br /><div id="runtime">124 min (15)</div>
			<strong>Venue: </strong><div id="venue">Garter Lane</div>
		</div>
	</div><!-- /grid-a -->
	<hr />
	<div>
		<strong>Cast: </strong><div id="cast">Noomi Rapace, Michael Fassbender</div>
		<strong>Plot: </strong><div id="plot">A team of explorers discover a clue to the origins of mankind on Earth, leading them on a journey to the darkest corners of the universe. There, they must fight a terrifying battle to save the future of the human race.</div>
	</div>
	<a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right">Watch Trailer</a>
	<a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right">Book Tickets</a>
	<a href="#map" data-role="button" data-icon="arrow-r" data-iconpos="right">Show on Map</a>
</div>
