<link rel="stylesheet" type="text/css" href="./css/profile.css"/>
<div data-role="header" class="bar">Prometheus</div>
<div data-role="content" class="style no-padding">
	<div class="ui-grid-a" id="movie-description">
		<div class="ui-block-a" id="movie-poster">
			<img src="images/prometheus.jpg" />
		</div>
		<div class="ui-block-b" id="movie-details">
			<strong>Director: </strong><br /><span id="director">Ridley Scott</span><br />
			<strong>Genre: </strong><br /><span id="genre">Horror | Sci-Fi</span><br />
			<strong>Details: </strong><br /><span id="runtime">124 min (15)</span><br />
			<strong>Venue: </strong><br /><span id="venue">Garter Lane</span><br />
		</div>
	</div><!-- /grid-a -->
	<div id="movie-plot" class="padding">
		<p><strong>Cast: </strong><br /><span id="cast">Noomi Rapace, Michael Fassbender</span>
		<p><strong>Plot: </strong><br /><span id="plot">A team of explorers discover a clue to the origins of mankind on Earth, leading them on a journey to the darkest corners of the universe. There, they must fight a terrifying battle to save the future of the human race.</span>
	</div>
	<div class="padding">
		<a href="#" data-role="button" data-icon="arrow-r" data-iconpos="right">Watch Trailer</a>
		<a href="#contact" data-role="button" data-icon="arrow-r" data-iconpos="right">Book Tickets</a>
		<a href="#map" data-role="button" data-icon="arrow-r" data-iconpos="right">Show on Map</a>
	</div>
	<div class="spacer"></div>
</div>
