<link rel="stylesheet" type="text/css" href="./css/showing.css"/>
<div data-role="header" class="bar">Now Showing</div>
<div data-role="content">
	<div>
		<ul data-role="listview" id="showing-list">
		<!-- 	<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li>
			<li><a href="#profile"><img src="images/prometheus-thumb.jpg" />Prometheus<br /><span>Director: Ridley Scott</span><br /><span>124 min (15)</span></a></li> -->
		</ul>
	</div>
</div>
